@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Niconne&display=swap');
:root {
	--bg-color: #d9ae61;
	--border-color: #442916;
	--cafe-color: #573d1c;
}

body {
	background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
	font-family: sans-serif;
	padding: 20px;
}

h1 {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 15px;
}
h1,
h2,
h3 {
	font-family: 'Niconne', cursive;
}

h2 {
	font-size: 30px;
}

h1,
h2,
h3,
p {
	color: var(--cafe-color);
	text-align: center;
	font-weight: bold;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

hr {
	margin: 0;
	width: 100%;
	height: 3px;
	background-color: var(--border-color);
	border-color: var(--border-color);
}

/* Footer */
.bottom-line {
	margin-top: 25px;
}
.established {
	font-style: italic;
}
footer {
	font-size: 14px;
}

.address {
	margin-bottom: 5px;
}
a,
p {
	font-family: 'Courgette', cursive;
}
a {
	color: var(--cafe-color);
}

a:visited {
	color: var(--cafe-color);
}

a:hover {
	color: var(--border-color);
}

a:active {
	color: var(--border-color);
}
/* Front Menu */
.menu,
.front-menu {
	max-width: 550px;
	background-color: var(--bg-color);
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	min-height: 1200px;
	transform: rotateY(180deg);
	transition: all 0.5s linear;
	border-radius: 5px;
}

.front-menu {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	color: #fff;
	transform: initial;
	border: 5px solid var(--border-color);
	width: 100%;
}

.front-menu > .triangle + .triangle,
.menu > .triangle + .triangle {
	left: initial;
	right: -65px;
	transform: rotate(45deg);
}
.front-menu > article + .triangle,
.menu > main + .triangle {
	top: initial;
	bottom: -16px;
	transform: rotate(225deg);
}
.front-menu > article + .triangle + .triangle,
.menu > main + .triangle + .triangle {
	top: initial;
	bottom: -16px;
	right: -65px;
	transform: rotate(135deg);
}
.front-menu > article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 5px solid var(--border-color);
	text-align: center;
	min-width: 100%;
	margin: 0;
	height: 100%;
	background-color: var(--bg-color);
}
.front-menu > article > h2 {
	display: block;
	margin: 0;
	font-size: 80px;
}
/* Back Menu */
.menu {
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 5px solid var(--border-color);
}
.established > span {
	height: 200px;
	position: absolute;
	width: 20px;
	left: 50%;
	top: -10px;
	transform-origin: center center;
}
#char1 {
	transform: rotate(-56deg);
}

#char2 {
	transform: rotate(-44deg);
}

#char3 {
	transform: rotate(-33deg);
}

#char4 {
	transform: rotate(-20deg);
}

#char5 {
	transform: rotate(-2deg);
}

#char6 {
	transform: rotate(8deg);
}

#char7 {
	transform: rotate(18deg);
}

#char8 {
	transform: rotate(28deg);
}

#char9 {
	transform: rotate(38deg);
}

#char10 {
	transform: rotate(48deg);
}

#char11 {
	transform: rotate(58deg);
}
.menu-header {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 0;
	margin: auto 20px;
}
.menu-header-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 15px;
	width: 100%;
	border-right: 5px solid var(--border-color);
}
.menu-header-group + .menu-header-group {
	border: none;
}
.menu-container {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
h3 {
	font-size: 16px;
}
.menu-container:hover .front-menu {
	transform: rotateY(-180deg);
}
.menu-container:hover .menu {
	transform: rotateY(0deg);
}
.menu-items {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 100%;
	margin: 20px auto;
}
.menu-items > section {
	position: relative;
	border-right: 5px solid var(--border-color);
	max-width: 100%;
	min-height: 600px;
	text-align: center;
	padding: 10px;
}
.menu-items > section + section {
	border: none;
}
.menu-items + section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menu-items > section > figure > .my-svg {
	position: relative;
}
.menu-desert-items {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 100%;
}
.menu-desert-items > article {
	max-width: 100%;
}
.dessert > span,
.flavor > span,
h3 {
	font-size: 10px;
}
h3 {
	position: relative;
	top: -20px;
}
.triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid var(--border-color);
	transform: rotate(-45deg);
	top: -16px;
	left: -66px;
	border-radius: 5px;
	z-index: 5;
}

/* SVG */
.front-menu-design {
	fill: var(--cafe-color);
}
.my-svg {
	position: absolute;
	width: 30%;
}
#frontDesign {
	transform: rotate(90deg);
	top: 0;
	left: 20px;
}
#frontDesign1 {
	top: 0;
	right: 20px;
	transform: rotate(90deg) rotateX(180deg);
}
#groundCoffe {
	right: 40px;
	bottom: 20px;
}
.ground-coffe-1 {
	fill: var(--bg-color);
}
#coffeeCup {
	width: initial;
}
.ground-coffe-2 {
	fill: var(--cafe-color);
}
.coffee-cup {
	fill: #442916;
}
.smoothie-0 {
	fill: var(--cafe-color);
}
.smoothie-1 {
	fill: var(--border-color);
}
#smoothieCup,
#coffeCup {
	height: 80px;
}

#dessertImg {
	position: relative;
	width: 20%;
}
.dessert-img {
	fill: #332000;
}
figure {
	margin: 0;
	text-align: center;
}
